/* crossfilter stylesheet */
@import url('https://fonts.googleapis.com/css?family=Lato|Space+Mono:700&display=swap');

:root {
  /* ODI colours */
	--odidarkblue: #2254f4; /* dark blue */
	--odimedblue: #178cff; /* medium blue */
	--odilightblue: #00b6ff; /* light blue */
	--odicyan: #08def9; /* cyan */
	--odilightgreen: #1dd3a7; /* light green */
	--odidarkgreen: #0dbc37; /* dark green */
	--odilime: #06ef67; /* lime green */
	--odiyellow: #f9bc26; /* yellow */
	--odiorange: #ff6700; /* orange */
	--odired: #d60303; /* red */
	--odidarkpink: #d73058; /* dark pink */
	--odipink: #ef3aab; /* bright pink */
	--odifuschia: #e6007c; /* strong pink */
	--odipurple: #722ea5; /* dark purple */

  --dark: dimgray;
	--med: gray;
	--light: gainsboro;
}

html, body,
h1, h2, h3, h4, h5, h6, p,
ol, ul, li, a, blockquote
{
	margin: 10px;
	padding: 10px;
	line-height: 110%;
}

span {
	margin-left: 10px;
	margin-right: 10px;
}

body {
  background-color: var(--dark);
  font-size: 100%;
  font-family: Lato;
}

p {
  font-size: 100%;
  font-family: Lato;
}

blockquote {
	color: var(--dark);
	padding-left:20px;
}

p.snippet {
  font-family: 'Space Mono';
  color: var(--dark);
  background-color: var(--light);
	border-style: inset;
	border-width: medium;
	padding-left:20px;
}

p.docs {
	font-family: Georgia;
	font-size: 1.1em;
	border-style: outset;
	border-width: medium;
	background-color: var(--light);
	padding-left:20px;
}

p.console {
  font-family: 'Space Mono';
  color: var(--dark);
  background-color: var(--med);
	border-style: inset;
	border-width: medium;
	padding-left:20px;
}

/* headings */

.hero-text {
	text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
	color: white;
	font-size: 2.8em;
	font-family: Lato;
	padding-top: 30px;
	padding-bottom: 30px;
}

.hero-image {
	background-image: url('https://github.com/jargonautical/hero_images/raw/master/Screenshot_57.jpg');
	height: 100px;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	position: relative;
	padding: 10px;
	margin: 10px;
}


h1 {
  color: white;
  font-size: 2.5em;
  font-family: Lato;
  padding-top: 30px;
  padding-bottom: 30px;
}

h2 {
  color: white;
  background-color: var(--dark);
  font-size:1.5em;
  font-family: Lato;
  padding-top: 20px;
  padding-bottom: 20px;
}

h3 {
  color: black;
  font-size:1.2em;
}

h4 {
  color: black;
  font-size:1.1em;
}

h5 {
  font-size:1.0em;
  font-weight: strong;
}

h6 {
  font-size:1.0em;
  font-style: oblique;
}

html {
  max-width: 1200px;
  margin: 0 auto;
  #background: #eee; /* Fills the page */
  position: relative; /* Fix for absolute positioning */
}

ul {
  list-style-type: circle;
  list-style-position: inside;
  margin-left: 30px;
  padding: 0;
}

.flex-container {
  display: flex;
  flex-wrap: nowrap;
}

.flex-container .box {
  background-color: var(--med);
  max-width: 50%;
  width: 50%;
  margin: 10px;
	padding: 10px;
  text-align: left;
  border-style: solid;
  border-width: thin;
  border-color: var(--dark);
}

.flex-container .invisbox-small {
  background-color: var(--med);
  max-width: 33%;
  width: 33%;
  text-align: left;
  padding: 10px;
}

.flex-container .invisbox {
  background-color: var(--med);
  max-width: 50%;
  width: 50%;
  text-align: left;
  padding: 10px;
}

.flex-container .invisbox-big {
  background-color: var(--med);
  max-width: 67%;
  width: 67%;
  text-align: left;
  padding: 10px;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* info box */
.info {
  background-color: var(--med);
  border-style: solid;
  border-width: thin;
  border-color: var(--dark);
  margin: 10px;
	padding: 10px;
}

/* nav buttons */

.button-back {
  background-color: var(--med);
  border-style: solid;
  border-width: thin;
  border-color: var(--dark);
  border-radius: 8px;
  color: var(--dark);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: left;
}

.button-next {
  background-color: var(--med);
  border-style: solid;
  border-width: thin;
  border-color: var(--dark);
  border-radius: 8px;
  color: var(--dark);
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  float: right;
}

.button-next:hover {
  background-color: var(--light);
}

.button-back:hover {
  background-color: var(--light);
}

/* lists - unordered */
ul {
  list-style: square inside;
  list-style-type: disc;
}

/* lists - ordered */
ol {
  list-style: square inside;
  list-style-type: lower-alpha;
}

/* tables */
table {
  border-collapse: collapse;
  text-align: left;
  vertical-align: middle;
  background-color: var(--med);
}

th {
  padding:10px;
}

td {
  padding:10px
}

table, td, th {
  border-style: solid;
  border-width: thin;
  border-color: var(--dark);
}

tr:hover {background-color:var(--light);}

caption {
  caption-side: bottom;
  padding: 10px
}

panel {
	background-color: var(--med);
	display: inline-block;
	vertical-align: top;
	overflow-x: hidden;
	overflow-y: auto;
}
#first {
	width: 350px;
}
#second {
	width: 400px;
}

#search input {
	font-size: 2em;
    width: 90%;
		margin-left: 15px;
}

#activityChart {
	width: 400px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	top: -10px;
	left: -10px;
}

#dayOfWeekChart {
	position: relative;
	top: -10px;
	left: -10px;
}

.doubleSlider {
	display: inline-block;
	width: 300px;
}
.ui-slider {
	margin-top: 10px;
	margin-left: 20px;
}
.ui-slider .ui-slider-range {
	background: #4682b4;
}

.dc-chart .axis {
  display: none;
}

#dc-data-grid {
	display: block;
	margin-top: 10px;
	width: 100%;
}
.dc-grid-section {
	display:none;
}
.dc-grid-item {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 1px solid white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.dc-grid-item .activity {
	display: none;
}
.dc-grid-item .upcoming item {
	display: block;
}
