body {
	background-color: black;
	color: white;
}

panel {
	display: inline-block;
	vertical-align: middle;
	overflow-x: hidden;
	overflow-y: auto;
}
#first {
	width: 350px;
}
#second {
	width: 400px;
}

#search input {
	font-size: 2em;
    width: 90%;
}

#activityChart {
	width: 400px;
	height: 400px;
	overflow-y: auto;
	overflow-x: hidden;
	position: relative;
	top: -10px;
	left: -30px;
}

#dayOfWeekChart {
	position: relative;
	top: -10px;
	left: -30px;
}

.doubleSlider {
	display: inline-block;
	width: 300px;
}
.ui-slider {
	margin-top: 10px;
	margin-left: 10px;
}
.ui-slider .ui-slider-range {
	background: #4682b4;
}

.dc-chart .axis {
  display: none;
}

#dc-data-grid {
	display: block;
	margin-top: 10px;
	width: 100%;
}
.dc-grid-section {
	display:none;
}
.dc-grid-item {
	margin-left: auto;
	margin-right: auto;
	width: 95%;
	border: 1px solid white;
	padding-left: 10px;
	padding-right: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}
.dc-grid-item .activity {
	display: none;
}
.dc-grid-item .upcoming item {
	display: block;
}